.flex-container {
   
    position: relative;
    background: rgb(14, 11, 12);
    height: 160px;
    width: 1500px;
    display: flex;
    border:-15px;
    margin-top: -1%;
    margin-left: -1;
    padding: 15px; 

  }
   
#gif {
width:40px;
height:40px;
position: absolute;
/*left: 1450px;*/
margin-left: 83%;
top: 4%;
margin-top: 0.9%;
cursor: pointer;
}

#titleRM {
  width: 558px;
  height: 163px;
  margin-left: 75%;
}

.magGlass {
  position: absolute;
  /*left: 1464px;*/
  margin-left: 83.7%;
  top: 9%; 
  margin-top: 1%; 
  cursor: pointer; 
}

.navbar {

width: 100%;
display: inline-block;
text-align: center;

}

#funFacts {
  font-family: 'Schoolbell', cursive;
  text-shadow: 4px 2px 3px rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(67, 255, 120, 0.44) 0.55%, rgba(255, 255, 255, 0) 100%);
  border-radius: 25px;
  font-style:normal;
  font-size: 17px;
  text-align: center;
  color: #9ADBDF;
  border: 1px solid #7DBC8B;
  width: 8%;
  margin-left: 2%;
}


#btnAllCharacters {
  font-family: 'Schoolbell', cursive;
  letter-spacing: 1px;
  text-shadow: 4px 2px 3px rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(140, 192, 143, 0.295) 0.55%, rgba(41, 153, 56, 0.644) 100%);
  border-radius: 25px;
  font-style:normal;
  font-size: 17px;
  color: #9ADBDF;
  border: 1px solid #7DBC8B;
  width: 11%;
  padding: .1%;
  margin-left:3%;

}

#btnAllCharacters:hover {
  background: linear-gradient(180deg, rgba(67, 255, 120, 0.44) 0.55%, rgba(27, 112, 151, 0.493) 100%);
  cursor:pointer;
  backdrop-filter: blur(42px);
  border-radius: 25px;

 }

.options {
  display: inline-block;
  color: #72b01d;
  font-style: normal;
  font-family: 'Schoolbell';
  font-size:large;
  text-align: center;
  width: 10%;

}

#gender,#species,#status, #type, #origin, #location, #order {
  font-family: 'Schoolbell', cursive;
  text-shadow: 4px 2px 3px rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(67, 255, 120, 0.44) 0.55%, rgba(255, 255, 255, 0) 100%);
  border-radius: 25px;
  font-style:normal;
  font-size: 17px;
  text-align: center;
  color: #9ADBDF;
  border: 1px solid #7DBC8B;
  width: 60%;
}

#gender:hover, #species:hover, #status:hover, #type:hover, #origin:hover, #location:hover, #order:hover, #funFacts:hover{

  cursor:pointer;
  background: linear-gradient(180deg, rgba(140, 192, 143, 0.295) 0.55%, rgba(41, 153, 56, 0.644) 100%);
  backdrop-filter: blur(42px);
  border-radius: 25px;

}


option  {
 
  background:rgb(0, 0, 0);
  border-radius:150%;
  cursor: pointer;
  
}


body {
  min-height:50vh;
  background-image: url("img/backgroRM1.jpg");
  background-size: cover;
  background-position: absolute;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}

body:before {
  content:"";
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  /*min-height: 4312vh;*/
  background: linear-gradient(to top right, #271d2b, #000000cb);
  opacity: 0.6;
  z-index:-3;
  min-height: auto;
  }

.flex-boxx {
  background-color: transparent;
  padding: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  }

h1 {
 text-shadow: 0 0 4px purple;
 font-family: 'Schoolbell', cursive;
 color: #43BFDB;
 margin-bottom: -4%;
 margin-left: 15px;
 margin-left: 8%;
    
  }


  .pickles {
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    width:300px;
    height:160px;
    background-image: url("img/pickle.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 20%;
    padding: 1px;
    margin: 4%;
    margin-top: 1%;
    margin-bottom: 1%;
  
  }
  
  .pin {
    
    width:40px;
    height:40px;
    margin-top: 1%;
    margin-left: 25%;

  }


  .lettersWrap {

    background-color: transparent;
    padding: 60px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    z-index: 1;
    margin-top: -65%;
    margin-bottom: -1%;
    margin-left: 30%;
    white-space: nowrap;
    overflow: hidden;
   
  }
 
  .name {
    font-size: 20px;
    color: #101618;
    padding: 1%;
    font-family: 'Schoolbell', cursive;
    text-align: justify;
    text-shadow: 4px 3px 5px rgb(150, 250, 92);

  }

  .species {
    text-shadow: 2px 2px 2px rgb(148, 62, 228);
    font-size: 17px;
    padding: 4%;
    color:  rgba(250, 250, 250, 0.79);
    text-align: justify;
    font-family: 'Schoolbell', cursive;
    width: 100%;
    height: 10%;


  }

  .status {
    font-size: 17px;
    padding: 5%;
    color:  rgba(250, 250, 250, 0.79);
    text-align: justify;
    font-family: 'Schoolbell', cursive;
    text-shadow: 2px 3px 5px rgba(230, 10, 10, 0.67);
    
  }

  .image{
    width: 130px; 
    height: 130px;
    margin-top: 4%;
    margin-left: 2%;
    border-radius: 20%;
    border:1px solid black;
   
  }

  #button {
   
   background-color: #72b01d;
   font-family: 'Schoolbell', cursive;
   color:aliceblue;
   border-radius: 21px;
   padding: .5%;
   margin-left: 47%;
   text-shadow: 3px 3px 4px rgb(111, 50, 255);
   border:1px solid rgb(255, 255, 255);
   position:relative;
  }

  .rectangle{
    background-color: palevioletred;
    display: none;
    width: 70%;
    height: 70%;
    z-index: 1;
  }

.buscador{
  position: absolute;
  padding: 5px;
  margin-left: 67%;
  z-index: 0;
}
.buscador input{
  width: 240px;
  height: 40px;
  padding: 0 20px;
  font-size: 18px;
  color: #72b01d;
  outline: none;
  border: 1px solid #72b01d;
  border-radius: 30px;
  background-color: transparent;
  transition: all 0.6s ease;
  font-family: 'Schoolbell', cursive;
  letter-spacing: 1px;
}
/*.searchBtn {
cursor: pointer;
width: 50px;
height: 50px;
background: #72b01d;
position: absolute;
border-radius: 50%;
top: 0;
right: 0;
}*/

.buscador:hover input{
  background-color: rgba(240, 248, 255, 0.493); 
  direction: ltr;
  color: #101618;
  font-weight: bold;
}

.list {
  color: aliceblue;
}

p{
  color: aliceblue;
}

.textNotFound {
  
  font-family: 'Schoolbell', cursive;
  color: aliceblue;
  text-align: justify;
  margin-left: 25%;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: linear-gradient(to top right, #271d2b, #000000cb);
  opacity: 0.6;
}

.notFound {

 margin-left: 42%;
 
}

.portal {
 width: 200px;
 height: 200px;
}


/*Blue square of Morty*/
.backGrou {
flex-wrap: wrap;
margin: 20px 30px 10px 5px;
background-color:rgba(24, 176, 176, 0.81);
height: 600px;
padding-top: 1%;

}

/*Img deadmorty*/
.mortem{
  width: 570px;
  height: 490px;
  position:absolute;
  z-index:2;
  margin: 1%;
  margin-top:-27%;
}

/*text/Morty*/
.h3contain {
width: 82%;
font-family: 'Russo One';
color: rgba(255, 255, 255, 1);
font-size:43px;
position: relative;
z-index: 3;
margin-left: 10%;
margin-top: 2%;

}

/*text/Morty*/
.h4contain{
  width:42%;
  font-family: 'Russo One';
  color: #000000;
  font-size: 42px;
  z-index: 2;
  margin-top: 5%;
  font-weight:bolder;
  margin-left: 55%;
  justify-content: center;
  
}

/*text/Morty*/
.h5contain{
  width:40%;
  height: 37%;
  font-family: 'Russo One';
  color: black;
  font-size: 34px;
  z-index: 2;
  margin-top: 3%;
  font-weight:bolder;
  margin-left: 55%;
  text-align: center;
 
}

/*text/Morty*/
.sarcasmMorty {
  font-family: 'Russo One';
  color:rgba(255, 255, 255, 1);
  font-size: 25px;
  width:30%;
  font-weight:bolder;
  margin-left: 59%;
  text-align: center;
  margin-top:6%;
}

/*Img deadRick*/
.mortemRick{
  width: 570px;
  height: 490px;
  position:absolute;
  z-index:2;
  margin-top: -30%;
  margin-left: 35%;
 
}

/*text deadRick*/
.h4containRick {
  width:33%;
  font-family: 'Russo One';
  color: #000000;
  font-size: 42px;
  z-index: 2;
  margin-top: 5%;
  font-weight:bolder;
  margin-left: 8%;
  text-align: center;

}

/*text deadRick*/
.h5containRick {
  width:33%;
  height: 43%;
  font-family: 'Russo One';
  color: #000000;
  font-size: 34px;
  z-index: 2;
  margin-top: 4%;
  font-weight:bolder;
  margin-left: 8%;
  text-align: center;
 
}

/*Unknown Origin blue square*/

.backGrouOrigin {
flex-wrap: wrap;
margin: 20px;
background-color:
rgba(24, 176, 176, 0.81);
width:97%;
height: 600px;
margin-left:5px;

}

/*Unknown Origin blue square*/
.beCareful {
  width:20%;
  font-family: 'Russo One';
  color: #000000;
  font-size: 30px;
  z-index: 2;
  margin-top: -2%;
  font-weight:bolder;
  margin-left: 65%;
  text-align: center;

}

.stayTuned {
  color:rgba(255, 255, 255, 1);
  font-family: 'Russo One';
  font-size: 25px;
  width:44%;
  font-weight:bolder;
  margin-left: 54%;
  text-align: center;
  margin-top:4%;
  letter-spacing: 1px;
}

.babyRick{
 width: 10%;
}

.noBabe {
  position: absolute;
  left: 66%;
  margin-top: -1%;
  
  }